.header {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #f2f2f2;
    z-index: 1; 
    /* выше установили ограничения для секции */
    overflow: hidden;
  }
  .header:hover {
    opacity: 0.8;
    transition: opacity ease-in-out 0.5s;
  }
  