.footer {
    min-height: 350px;
    background-color: #1f1f1f;
    padding: 60px 0 40px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .footer:hover {
    opacity: 0.8;
    transition: opacity ease-in-out 0.5s;
  }